$latoStack = 'lato', Helvetica, Arial, sans-serif
$firaStack = 'fira', Helvetica, Arial, sans-serif


/*******************
* Fira
********************/
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-bold-webfont.eot');
  src: url('../fonts/fira/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-bold-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-bold-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-bold-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-bold-webfont.svg#fira_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-bolditalic-webfont.eot');
  src: url('../fonts/fira/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-bolditalic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-bolditalic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-bolditalic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-bolditalic-webfont.svg#fira_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-extrabold-webfont.eot');
  src: url('../fonts/fira/firasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-extrabold-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-extrabold-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-extrabold-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-extrabold-webfont.svg#fira_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-extrabolditalic-webfont.eot');
  src: url('../fonts/fira/firasans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-extrabolditalic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-extrabolditalic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-extrabolditalic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-extrabolditalic-webfont.svg#fira_sansextrabold_italic') format('svg');
  font-weight: 900;
  font-style: italic;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-italic-webfont.eot');
  src: url('../fonts/fira/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-italic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-italic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-italic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
  font-weight: 400;
  font-style: italic;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-light-webfont.eot');
  src: url('../fonts/fira/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-light-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-light-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-light-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-light-webfont.svg#fira_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-lightitalic-webfont.eot');
  src: url('../fonts/fira/firasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-lightitalic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-lightitalic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-lightitalic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-lightitalic-webfont.svg#fira_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-medium-webfont.eot');
  src: url('../fonts/fira/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-medium-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-medium-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-medium-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
  font-weight: 500;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-mediumitalic-webfont.eot');
  src: url('../fonts/fira/firasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-mediumitalic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-mediumitalic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-mediumitalic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-mediumitalic-webfont.svg#fira_sansmedium_italic') format('svg');
  font-weight: 500;
  font-style: italic;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-regular-webfont.eot');
  src: url('../fonts/fira/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-regular-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-regular-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-regular-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-regular-webfont.svg#fira_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-semibold-webfont.eot');
  src: url('../fonts/fira/firasans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-semibold-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-semibold-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-semibold-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-semibold-webfont.svg#fira_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}
@font-face {
  font-family: 'fira';
  src: url('../fonts/fira/firasans-semibolditalic-webfont.eot');
  src: url('../fonts/fira/firasans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/fira/firasans-semibolditalic-webfont.woff2') format('woff2'),
          url('../fonts/fira/firasans-semibolditalic-webfont.woff') format('woff'),
          url('../fonts/fira/firasans-semibolditalic-webfont.ttf') format('truetype'),
          url('../fonts/fira/firasans-semibolditalic-webfont.svg#fira_sanssemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;

}

/*******************
* Lato
********************/

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-bolditalic-webfont.eot');
  src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff'),
          url('../fonts/lato/lato-bolditalic-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
  font-weight: 700;
  font-style: italic;

}


@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-italic-webfont.eot');
  src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-italic-webfont.woff') format('woff'),
          url('../fonts/lato/lato-italic-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-italic-webfont.svg#latoitalic') format('svg');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-lightitalic-webfont.eot');
  src: url('../fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-lightitalic-webfont.woff') format('woff'),
          url('../fonts/lato/lato-lightitalic-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
  font-weight: 300;
  font-style: italic;

}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-mediumitalic-webfont.eot');
  src: url('../fonts/lato/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-mediumitalic-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-mediumitalic-webfont.woff') format('woff'),
          url('../fonts/lato/lato-mediumitalic-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-mediumitalic-webfont.svg#latomedium_italic') format('svg');
  font-weight: 500;
  font-style: italic;

}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-regular-webfont.eot');
  src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
          url('../fonts/lato/lato-regular-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-regular-webfont.svg#latoregular') format('svg');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-semibold-webfont.eot');
  src: url('../fonts/lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-semibold-webfont.woff') format('woff'),
          url('../fonts/lato/lato-semibold-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-semibold-webfont.svg#latosemibold') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/lato-semibolditalic-webfont.eot');
  src: url('../fonts/lato/lato-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/lato/lato-semibolditalic-webfont.woff2') format('woff2'),
          url('../fonts/lato/lato-semibolditalic-webfont.woff') format('woff'),
          url('../fonts/lato/lato-semibolditalic-webfont.ttf') format('truetype'),
          url('../fonts/lato/lato-semibolditalic-webfont.svg#latosemibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;

}



/*******************
* Iconfont
********************/

@font-face {
  font-family: 'iconfont';
  src:  url('../fonts/iconfont/iconfont.eot');
  src:  url('../fonts/iconfont/iconfont.eot#iefix') format('embedded-opentype'),
        url('../fonts/iconfont/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont/iconfont.woff') format('woff'),
        url('../fonts/iconfont/iconfont.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
