.about
  &__title
    margin-bottom s(20, 24)
  &__title2
    display: block
    margin-top s(25, 24)
    margin-bottom s(20, 24)
  &__blockquote
    text-align: center
    padding s(60) s(10)
    margin s(50) 0
    background-image: linear-gradient(90deg, #53B8E9 0%, #2B69AF 100%)
    & strong
      display: block
      color $cWhite
      font-weight: 700
      font-family $firaStack
      font-size s(51)
      text-transform: uppercase
      display: block
      letter-spacing 2px
      margin-bottom s(8, 51)
    & span
      display: block
      text-transform: uppercase
      font-weight: 400
      font-family $firaStack
      color $cWhite
      font-size s(32)


/************************************\
		CARD FLIP
\************************************/
.history__wrapper
  display: flex
  justify-content space-between
  flex-wrap wrap
  @media screen and (max-width: 700px)
    flex-wrap nowrap
    flex-direction column
/* entire container, keeps perspective */
.flip-container
  perspective: 1000px;
  margin-bottom s(25)
  @media screen and (max-width: 700px)
    margin: 0 auto s(25)

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper
  transform: rotateY(180deg);


.flip-container, .front, .back
  width: s(364);
  height: s(223);

/* flip speed goes here */
.flipper
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;


/* hide back of pane during swap */
.front, .back
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border 2px solid $cLightGreen


/* front pane, placed above back */
.front
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  position: relative
  & p
    position: absolute
    top: 50%
    transform translateY(-50%)
    right: 0
    left: 0
    text-align: center
    font-family: $firaStack
    font-weight: 700
    letter-spacing 1px
    font-size s(36)

/* back, initially hidden pane */
.back
  transform: rotateY(180deg);
  text-align: center
  padding s(20)
  background-image url('http://www.prestigeanimalhospital.com/sites/default/files/08-cat-cancer-4.jpeg')
  background-position center center
  background-size cover
  &:before
    content ''
    display: block
    @extend .cover
    background-image linear-gradient(90deg, #53b8e9 0%, #2b69af 100%)
    opacity .85
    z-index 1
  & p
    position: relative
    font-size s(16)
    line-height: 1.4em
    max-height s(223)
    overflow-y:auto
    z-index 2
    color $cWhite

