.bCard
  position: relative
  width col(4, 12)
  min-height s(487)
  display: flex
  flex-direction column
  @media screen and (max-width: 768px)
    width: 100% !important
    min-height 0 !important
    margin-bottom s(20) !important
    &:last-child
      margin-bottom: 0
  &__figure
    & img
      display: block
      @media screen and (max-width: 768px)
        width: 100% !important
  &__wrapper
    flex 1
    flex 1 0 auto
    border-right  1px solid #E7E7E7
    border-left  1px solid #E7E7E7
    border-bottom  1px solid #E7E7E7
    padding-top s(20)
    padding-left s(20)
    padding-right s(20)
    padding-bottom s(25)
  &__title
    @extend .title22
    margin-bottom s(20, 22)
    &:after
      content ''
      display: block
      height s(2, 22)
      width s(30, 22)
      background-image: linear-gradient(-90deg, #53B8E9 0%, #2B69AF 100%);
      margin-top s(7, 22)
  &__excerp
    font-size s(16)
    line-height: 1.5em
  &__fake
    position: relative
    text-align: center
    border-right 1px solid #e7e7e7
    border-left 1px solid #e7e7e7
    border-bottom 1px solid #e7e7e7
    padding s(15) s(10)
    overflow hidden
    &:after
      content ''
      position: absolute
      @extend .cover
      background #81B345
      background-image: linear-gradient(90deg, #CFD545 0%, #81B345 99%);
      z-index -1
      top 100%
      transition .3s $easeOutExpo top
    &__link
      @extend .link14
      transition .3s $easeOutExpo color
  &__link
    @extend .cover


.bCard:hover
.bCard:focus
  .bCard
    &__fake
      &__link
        color $cWhite
        transition .3s $easeOutExpo color
      &:after
        top 0
        transition .3s $easeOutExpo top
