.contact
  &__container2
    display: flex
    justify-content space-between
    @media screen and (max-width: 768px)
      flex-direction column
  &__intro
    @extend .text19

  &__item
    display: flex
    align-items center
    margin-bottom s(25)
  &__list
    margin-top s(45)
    @media screen and (max-width: 768px)
      margin-top: s(30)
    & a
    & address
      color $cLightGreen
      font-weight: 500
      transition .3s ease color
    & svg
      margin-right s(10)
    & .svg-tel
      margin-left s(8)
      margin-right s(16)
    & a:hover
    & a:focus
      color $cDarkGreen
      transition .3s ease color

.contact__wrapper--left
  width col(5, 12) + gutter(12)
  @media screen and (max-width: 768px)
    width 100%
    margin-bottom s(30)

.contact
  &__wrapper--right
    width col(6, 12)
    @media screen and (max-width: 768px)
      width: 100%
  .form
    & br
      display: none
    & span.wpcf7-not-valid-tip
      display: block
      font-size 15px
      margin-top s(8, 15)
    & span.wpcf7-form-control-wrap
      display: block
      margin-bottom s(25)
    & div.wpcf7-response-output
      border none
      padding 0
      margin 20px 0 0 0
    & div.wpcf7-validation-errors
      color #ff0000
    & div.wpcf7-mail-sent-ok
      color #398f14
    &__label
      display: block
      font-family $firaStack
      font-weight: 900
      text-transform: uppercase
      letter-spacing .9px
      font-size s(13)
      margin-bottom s(10, 13)
    &__input
      width 100%
      border 1px solid #D6D6D6
      padding 13px 20px
      font-size 16px
      font-weight: 700
      color $cBlack
      &::placeholder
        color #828282
        font-size 16px
        font-weight: 500
      &:focus
        border 1px solid $cBlack
    &__textarea
      width 100%
      border 1.1px solid #D6D6D6
      padding 13px 20px
      margin-bottom: 0
      font-size 16px
      font-weight: 700
      color $cBlack
      max-height s(200)
      &::placeholder
        color #828282
        font-size 16px
        font-weight: 500
      &:focus
        outline none
        border 1.1px solid $cBlack
    &__submit
      display: inline-block
      margin-top s(25)
      padding s(20) s(60)
      border 2px solid $cDarkGreen
      transition .3s ease background-color
      font-family $firaStack
      color $cDarkGreen
      font-weight: 700
      font-size s(16)
      text-transform: uppercase
      letter-spacing 1px
      transition .3s ease color
      transition .3s ease all
      cursor pointer

.contact
  .form
    &__submit:hover
      background-color $cDarkGreen
      color $cWhite
      transition .3s ease all


.persons
  display: block
  margin-top: s(50)
  z-index 20
  position: relative
  &:after
    @extend .clearfix
  .person
    overflow hidden
    border 1.2px solid #E0E0E0
    margin-bottom s(50)
    width 30.5%
    float: left
    margin-right 4.25%
    &:nth-child(3n+3)
      margin-right: 0
    @media screen and (max-width: 850px)
      width 47.5%
      &:nth-child(2n+2)
        margin-right: 0
      &:nth-child(3n+3)
        margin-right 4.25%
    @media screen and (max-width: 580px)
      width: 100%
      margin-right: 0
    &__figcaption
      background $cWhite
      padding s(30) s(35)
      height 100%
      @media screen and (max-width: 580px)
        text-align: center
    &__name
      display: block
      color $cBlue
      font-family $firaStack
      font-weight: 700
      letter-spacing .8px
      margin-bottom 1px
    &__role
      display: block
      color $cBlue
      margin-top s(4)
    &__img
      display: block
      @media screen and (max-width: 580px)
        width: 100%
    &__link
      display: block
      margin s(15) 0
      display: flex
      align-items center
      @media screen and (max-width: 580px)
        justify-content center
      &--mail
        margin-top s(10)
      & svg
        margin-right s(7)
      & path
        transition .3s ease color
      & span
        font-weight:700;
        color $cDarkGreen
        transition .3s ease color
        &:hover
        &:focus
          color $cLightGreen
          transition .3s ease color

.persons .person__link:hover svg path
.persons .person__link:focus svg path
  transition .3s ease color
  fill $cLightGreen !important

.map__wrapper
  position: relative
  z-index 2
  height s(578)
  top s(-130)
#map
  height s(578)


