.footer
  background $cBlueDark
  margin-top s(70)
  &__wrapper
    position: relative
    @extend .containerGlobal
    padding-top s(45)
    padding-bottom s(20)
  &__infos
    display: flex
    margin-bottom s(75)
    @media screen and (max-width: 650px)
      margin-bottom s(20)
    @media screen and (max-width: 374px)
      flex-direction column
  &__info
    display: flex
    align-items center
    margin-right s(15)
    @media screen and (max-width: 374px)
      margin-right: 0
      margin-bottom s(10)
    &:after
      content ''
      display: block
      width s(2)
      height s(15)
      background rgba(255,255,255,.5)
      margin-left s(15)
      @media screen and (max-width: 374px)
        display: none
  &__info a
  &__info span
    color $cWhite
    font-family $firaStack
    font-size s(13)
    font-weight: 500
    letter-spacing .6px
  &__info span
    font-size s(13, 13)
  &__info--facebook a
    display: flex
    align-items center
    & svg
      margin-right s(14)

.contact .footer
  margin-top: s(-130)

.footer__info:last-child:after
  display: none

.footer__info a svg
  position: relative
  top 1px
  left 3px

.footer__lang
  display: flex
  .lang-item
    & a
      display: inline-block
      font-family $firaStack
      font-size s(13)
      color rgba(255,255,255,.5)
      font-weight: 500
      letter-spacing .6px
      transition .3s ease color
      &:hover
      &:focus
        color $cWhite
        transition .3s ease color

.footer__lang .lang-item-fr a:after
  content ' -'
.footer__lang .lang-item-nl a:before
  content '\00a0'

.footer__lang .current-lang a
  color $cWhite

.footer__logo
  position: absolute
  right: s(10)
  top: s(45)
  @media screen and (max-width: 650px)
    display: none


.footer__nav
  display: flex
  max-width s(883)
  justify-content space-between
  margin-bottom s(35)
  @media screen and (max-width: 650px)
    flex-direction column
    margin-bottom s(20)
  &-link
    color $cWhite
    display: inline-block
    font-family $firaStack
    font-size s(13)
    color rgba(255,255,255,.5)
    font-weight: 500
    letter-spacing .6px
    transition .3s ease color
    @media screen and (max-width: 650px)
      margin-bottom s(10, 13)
    &:hover
    &:focus
      color $cWhite


.subfooter
  display: flex
  justify-content space-between
  position: relative
  @media screen and (max-width: 650px)
    flex-direction column
  //top 3px
  &__copyright
    font-weight: lighter
    font-size: s(13)
    color #B1B6C5
    @media screen and (max-width: 650px)
      margin-bottom s(7, 13)
  &__dev
    display: flex
    align-items center
    & span
      font-weight: lighter
      font-size: s(13)
      color #B1B6C5
      margin-right s(4, 13)
      transition .3s ease color
    & svg path
      transition .3s ease all
      transition-property fill, fill-opacity


.subfooter__dev a:hover
.subfooter__dev a:focus
  & span
    color $cWhite
    transition .3s ease color
  & svg path
    fill $cWhite
    fill-opacity 1
    transition .3s ease all
    transition-property fill, fill-opacity


.subfooter__dev--peps
  margin-right 10px
  &:after
    content ' •'
    font-size 12px
    color $cWhite
    margin-left: 4px;


.subfooter__dev
  .peps-logo
    position: relative
    top 1px
    margin-right 5px
  .knok-logo
    position: relative
    top 2px
