.hIntro
  @extend .containerGlobal
  margin-top s(120)
  display: flex
  justify-content space-between
  margin-bottom s(70)
  @media screen and (max-width: 768px)
    flex-direction column
    margin-top s(50)
  &__wrapper--left
    max-width s(485)
    padding-right s(40)
    @media screen and (max-width: 768px)
      max-width none
      //margin-bottom s(40)
  &__title
    @extend .title24
    margin-bottom s(25, 24)
  &__desc
    @extend .text19
    margin-bottom s(28, 19)
  &__link
    @extend .link14
    display: flex
    align-items center
    transition .25s ease color
    & svg
      margin-right s(5, 14)
      transition .25s ease color

  & .video-player
    position: relative
    cursor pointer
    @media screen and (max-width: 768px)
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      & iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    & img
      display: block
      @media screen and (max-width: 768px)
        width: 100%
    &__info
      position: absolute
      top: 50%
      transform translateY(-50%)
      left: 0
      right: 0
      text-align: center
      display: block
      color $cWhite
      font-size s(16)
      & svg
        display: block
        margin 0 auto s(14)
        transition .3s ease transform


.video-player:hover .video-player__info svg
  transform scale(1.2)
  transition .3s ease transform

.hIntro__link:hover
.hIntro__link:focus
  color $cLightGreen - 20%
  transition .25s ease color
  & svg > path
    color $cLightGreen - 20%
    transition .25s ease color

.home .quote
  margin-top s(120)
  margin-bottom s(120)
  @media screen and (max-width: 768px)
    margin-top s(30)
    margin-bottom s(50)


.hBlog
  @extend .containerGlobal
  display: flex
  justify-content space-between
  margin-bottom s(75)
  @media screen and (max-width: 768px)
    flex-direction column
    margin-bottom 0


.hCta__wrapper
  @extend .containerGlobal
  display: flex
  justify-content space-between

.hCta
  position: relative
  width col(6, 12)
  border 1px solid #E7E7E7
  padding s(28) 0
  &__img
    position: absolute
    left: 0
    top: 0
    z-index -1
  &__title
    position: relative
    text-transform: uppercase
    font-family $firaStack
    font-weight: 500
    font-size s(18)
    letter-spacing .41px
    padding s(13, 18) s(26, 18)
    overflow hidden
    color $cWhite
    margin-bottom s(34, 18)
    &:after
      content ''
      position: absolute
      top: 0
      z-index -1
      left: s(-30, 18)
      display: block
      width s(280, 18)
      height s(51, 18)
      background-image: linear-gradient(90deg, #CFD545 0%, #81B345 90%);
      transform skew(-40deg)
  &__text
    line-height: 1.4em
    font-size s(16)
    padding-left s(140, 16)
    max-width s(310, 16)
    box-sizing content-box


.hCta--revendeur
  .hCta__title:after
    width s(330);


.hCta
  position: relative
  overflow hidden
  &__fake
    position: absolute
    right: 0
    top: 0
    bottom: 0
    padding 0 s(52) 0 s(38)
    border-left 1px solid #E7E7E7
    overflow hidden
    & svg
      position: absolute
      top: 50%
      transform translateY(-50%)
      & path
        transition .3s $easeOutExpo fill
    &:after
      position: absolute
      content ''
      display: block
      width: 100%
      height 100%
      right: 100%
      background-image: linear-gradient(90deg, #53B8E9 0%, #2B69AF 100%);
      z-index -1
      transition .3s $easeOutExpo right

.hCta:hover
.hCta:focus
  & .hCta
    &__fake svg path
      fill $cWhite
      transition .3s $easeOutExpo fill
    &__fake:after
      right 0
      transition .3s $easeOutExpo right

.hCta__link
  @extend .cover
