.hSlider
  position: relative
  min-height s(650)
  @media screen and (max-width: 1024px)
    min-height: s(450)
  &__list
    position: relative
    min-height s(650)
    @media screen and (max-width: 1024px)
      min-height s(450)
  &__item
    position: relative
    height 100%
    background-size cover
    background-repeat no-repeat
    background-position center center
    &:before
      content ''
      display: block
      @extend .cover
      background-image: radial-gradient(50% 144%, rgba(0,0,0,0.05) 46%, rgba(0,0,0,0.20) 100%);
      z-index 1
  &__wrapper
    @extend .containerGlobal
  &__container
    position: absolute
    top: 50%
    transform translateY(-50%)
    z-index 2
  &__title
    position: relative
    max-width s(752)
    font-family $firaStack
    font-weight: 900
    letter-spacing 1px
    color $cWhite
    font-size s(44)
    text-transform: uppercase
    margin-bottom s(20, 44)
    transform translate3D(-50px, 0, 0)
    opacity 0
    @media screen and (max-width: 768px)
      font-size s(32)
      margin-bottom s(20, 32)
  &__excerpt
    position: relative
    max-width s(752)
    font-family $latoStack
    color $cWhite
    font-size s(24)
    line-height: 1.35em
    margin-bottom s(35, 24)
    transform translate3D(-50px, 0, 0)
    opacity 0
    @media screen and (max-width: 768px)
      font-size s(18)
      margin-bottom s(35, 18)
  &__fake
    position: relative
    display: flex
    align-items center
    transform translate3D(0, 50px, 0)
    opacity 0
    & span
      font-family $firaStack
      color $cWhite
      text-transform: uppercase
      font-weight: 700
      letter-spacing 0.72px
      font-size s(13)
      margin-left s(15, 13)
      line-height: 1.2em

.hSlider
  .hSlider__item.active
    .hSlider__title
      transform translate3D(0, 0, 0)
      opacity 1
      transition .45s $easeOutQuart all 400ms
      transition-property transform, opacity
    .hSlider__excerpt
      transform translate3D(0, 0, 0)
      opacity 1
      transition .45s $easeOutQuart all 520ms
      transition-property transform, opacity
    .hSlider__fake
      transform translate3D(0, 0, 0)
      opacity 1
      transition .6s $easeOutQuart all 750ms
      transition-property transform, opacity
    .hSlider__link
      z-index 100

.hSlider__buttons
  display: inline-block
  float: right
  &-wrapper
    @extend .containerGlobal
    position: absolute
    bottom: 10px
    left: 0
    right: 0

.hSlider__button
  cursor pointer
  & svg rect
    transition .3s ease fill-opacity

.hSlider__button:hover svg rect
  fill-opacity 1
  transition .3s ease fill-opacity

.hSlider__link
  display: block
  @extend .cover
  z-index 2

.hSlider .svg-more
.hSlider .svg-more
  transform-origin center center
  transition .15s ease transform

.hSlider:hover .svg-more
.hSlider:focus .svg-more
  transform rotate(90deg)
  transition .15s ease transform

.hSlider
  .clone
    .hSlider__container
      display: none

.hSlider
  .lSPager
    position: absolute
    bottom: 10px
    left: 21px
    right: 0
    width: 100%
    margin 0 auto !important
    text-align left !important
    @extend .containerGlobal
    li a
      width 11px !important
      height 11px !important
