.machine
  .machine__img
    display: block
    margin 20px 0
  .title24Bold
    margin-top s(35, 24)
    margin-bottom s(20, 24)

.list-col
  max-width s(405)
  float: left
  margin-right gutter(12)
  &-wrapper
    &:after
      @extend .clearfix
  h3
    font-size s(18)
    font-weight: 700
  & ul
    margin-top s(5)
    & li
      display: flex
      font-size 16px
      margin s(10, 16) 0
      &:before a
        margin-right 5px



.blueback
  position: relative
  background-color $cBlue
  background-image: linear-gradient(90deg, #53B8E9 0%, #2B69AF 100%);
  padding s(50)
  margin-top s(50)
  margin-bottom: s(50)
  &__title
    color $cWhite
    font-weight: 900
    margin-bottom s(15)
  &__text
    color $cWhite
    max-width 850px
    line-height: 1.3em
    margin-bottom s(20)
  &__text p
    color $cWhite
    max-width 850px
    line-height: 1.3em
    margin-bottom s(20)

.contactBlock
  &:after
    @extend .clearfix
  &__col
    float: left
    @media screen and (max-width: 768px)
      float: none
  &__col--left
    width col(4, 12)
    margin-right col(1, 12)
    @media screen and (max-width: 768px)
      width: 100%
      margin-right: 0
      margin-bottom s(20)
      & img
        display: block
        margin: 0 auto

  &__col--right
    width col(7, 12)
    @media screen and (max-width: 768px)
      width: 100%
  & strong
    font-weight: 900
    font-size s(22)
    display: block
    margin-bottom s(15, 22)

.contactBlock__title
  @extend .title24Bold

.machine__img
  max-width s(972)
