//.milk .title24Bold
  //margin-top s(50)

.txt-img
  display: flex
  justify-content space-between
  margin s(20) 0
  @media screen and (max-width: 768px)
    flex-direction column
  &__txt
    max-width s(557)
    margin-right s(20)
    @media screen and (max-width: 768px)
      max-width none
      margin-right: 0

.subtitle
  display: block
  text-transform: uppercase
  color #818181
  font-size s(16)
  margin-top s(5, 16)
  margin-bottom s(15, 16)
  line-height: 1.4em

.blocHorizontalTitle
  display: flex
  display: block
  margin-bottom s(20)
  margin-top s(25)
  text-transform: uppercase
  letter-spacing 1px
  font-weight: 700
  font-family $firaStack
  color $cBlue
  line-height: 1.2em
  &:before
    content ''
    position: relative
    top -3px
    display: inline-block
    width s(20)
    height s(6)
    margin-right s(10)
    background-image: linear-gradient(90deg, #CFD545 0%, #81B345 99%);


.blocHorizontalSubtitle
  display: block
  font-size s(18)
  margin-bottom s(10, 18)
  font-family $firaStack
  font-weight: 600
  line-height: 1.25em

.blocHorizontalTexte
  & p
    line-height: 1.25em
    margin-top: 0

.blocHorizontalContainer
  &:after
    @extend .clearfix

.blocHorizontalWrapper
  width 31.5%
  float: left;
  margin-right 1.8%
  @media screen and (max-width: 768px)
    width: 100%
    float none
    margin-right: 0


.blocVerticalTexte
  display: block
  margin-bottom s(10)
  display: flex
  align-items center
  margin-left s(30)
  &:before
    margin-right 5px



