/* mega menu list */

.nav-menu__wrapper
  @media screen and (max-width: 1024px)
    position fixed
    top: 0
    right: s(-280)
    height 100%
    z-index 2000
    width s(280)
    border-left 3px solid rgba(39,55,119,0.4)
    background #f5f5f5
    padding: 0
    overflow scroll
    transition .15s linear right


@media screen and (max-width: 1024px)
  .grey:before
    content ''
    display: block
    opacity 0
    visibility hidden
    position: fixed
    height 100%
    width: 100%
    //transform translateX(s(-280))
    z-index 100
    background rgba(0,0,0,0)
    transition .15s linear all

  .hamburger
    z-index 3000
  .menu-open .nav-menu__wrapper
    right 0
  .menu-open .hamburger
    transform translateX(s(-280))
    transition .15s linear transform
  .menu-open .grey:before
    display: block
    background rgba(0,0,0,.4)
    transition .15s linear all
    opacity 1
    visibility visible
  .menu-open
    position: fixed

.nav-menu
  display: block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
  padding-left s(53)
  background #FFF
  z-index 300
  @media screen and (max-width: 1024px)
    display: flex
    flex-direction column
    height 100%
    padding 0
    background #f5f5f5
    &:before
      display: none



/* a top level navigation item in the mega menu */
.nav-item
  //position: relative
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  @media screen and (max-width: 1024px)
    &:after
      content ''
      display: block
      background #EAEAEA
      position relative
      width: 100%
      height 2px
      transform none
    &:last-child:after
      display: none


.nav-item > a.active
  color $cBlue

/* first descendant link within a top level navigation item */
.nav-item > a
  position: relative;
  display: inline-block;
  font-family $firaStack
  text-transform: uppercase
  font-weight: 500
  color $cPurple
  letter-spacing 0.6px
  padding: 10px s(20, 13)
  margin: 0 0 -1px 0;
  border: 1px solid transparent;
  transition .4s $easeInOut-cubic color
  @media screen and (max-width: 1174px)
    padding: 10px s(10, 13)
  @media screen and (max-width: 1024px)
    display: block
    padding 20px 40px
    &:hover
    &:focus
      background #fcfcfc
      transition .25s ease background
  &:hover
    color $cBlue
    transition .4s $easeInOut-cubic color
  &:after
    content ''
    display: block
    position: absolute
    right: 0
    top 50%
    transform translateY(-50%)
    width 1px
    height 20px
    background #EAEAEA
    @media screen and (max-width: 1024px)
      display: none
  &:before
    position: absolute
    content ''
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12.5px 0 12.5px;
    left: 0
    right: 0
    margin 0 auto
    border-color: $cWhite transparent transparent transparent
    z-index 1
    bottom -24px
    transform translate3d(0, 0, 0)
    transition transform 200ms cubic-bezier(.25,.46,.45,.94) 0ms
    @media screen and (max-width: 1024px)
      display: none


.nav-item:last-child > a
  padding-right 0
  &:after
    display: none


/* focus/open states of first descendant link within a top level
   navigation item */
.nav-item > a:focus:before,
.nav-item > a.open:before {
  //border: 1px solid #dedede;
  transform translate3d(0, 11px, 0)
  transition transform 200ms cubic-bezier(.25,.46,.45,.94) 500ms

}

/* open state of first descendant link within a top level
   navigation item */
.nav-item > a.open {
  background-color: #fff;
  border-bottom: none;
  z-index: 1;
}

/* sub-navigation panel */
.sub-nav
  position: absolute;
  display: flex
  align-items center
  visibility hidden
  top: s(64);
  left 0
  right: 0
  //margin-top: -1px;
  padding: s(0) s(30) s(0)
  background-color: #0072AD;
  z-index -1
  height s(80)
  transition transform 200ms cubic-bezier(.25,.46,.45,.94)100ms ,top 200ms cubic-bezier(.25,.46,.45,.94), height 200ms cubic-bezier(.25,.46,.45,.94), visibility 0s linear 400ms
  transform translate3d(0, -80px ,0)
  @media screen and (max-width: 1024px)
    display: none
  &:after
    position: absolute
    content ''
    display: block
    background #0072AD
    height 100%
    width 9999px
    left: 0
    top: 0
    z-index -1


/* sub-navigation panel open state */
.sub-nav.open
  visibility visible
  //height s(84)
  transition transform 150ms cubic-bezier(.25,.46,.45,.94) 250ms, top 150ms cubic-bezier(.25,.46,.45,.94), height 150ms cubic-bezier(.25,.46,.45,.94)
  transform translate3d(0,2px,0)



/* list of items within sub-navigation panel */
.sub-nav ul {
  display: inline-block;
  height 100%
  vertical-align: top;
  padding: 0;
  display: flex
  align-items center
  text-transform: uppercase
}

/* list item within sub-navigation panel */
.sub-nav li
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color $cWhite
  margin-right s(20, 13)
  height 100%
  @media screen and (max-width: 1174px)
    margin-right 14px


.sub-nav li a
  position: relative
  top -3px
  display: block
  font-family $firaStack
  font-weight: 600
  letter-spacing .5px
  height 100%
  line-height s(82, 13)
  transition .4s $easeInOut-cubic color
  @media screen and (max-width: 1174px)
    font-size 10px
    top 4px
  &:hover
  &:focus
    color $cBlue + 70%
    transition .4s $easeInOut-cubic color
  &:after
    content ''
    height 18px
    width 1.1px
    background white
    display: block
    position: absolute
    right: -14px
    top 55%
    transform translateY(-50%)
    opacity .5
    @media screen and (max-width: 1174px)
      height 10px
      top 44%
      right -7px

.sub-nav li:last-child a:after
  display: none


/*
 **** STYLE MENU
 */

.nav-wrapper
  position: relative
  //z-index 40
  &:after
    content ''
    height 4px
    width: 100%
    display: block
    position: absolute
    bottom: 0
    background rgba(39,55,119,.4)
    z-index 40
  & .containerGlobal
    position: relative
    @media screen and (max-width: 1024px)
      padding 0 10px 0 0

.nav-main
  position: relative
  display: flex
  justify-content space-between
  align-items center
  & a
    font-size 13px
    @media screen and (max-width: 1174px)
      font-size 12px


.nav-main__svg--background
  transition .3s ease fill

.nav-main__home:hover .nav-main__svg--background
  fill #E6E6E6
  transition .3s ease fill



.nav-menu
  position: relative;
  &:before
    content ''
    height s(91)
    position absolute
    top: s(-26)
    width 9999px
    background $cWhite
    z-index 0
    left 0



/************************************\
		LANG BAR
\************************************/

.nav-wrapper
  .nav-lang
    position: absolute
    right: 0
    bottom: -40px
    display: flex
    z-index 40

  .lang-item a
    display: block
    background-color $cBlue
    color $cWhite
    font-size 12px
    font-weight: 700
    letter-spacing .5px
    height 40px
    line-height: 40px
    padding 0 s(18)
    transition .25s ease background
    &:hover
    &:focus
      background $cBlue + 7%
      transition .25s ease background

  .lang-item-first
    position: relative
    &:after
      content ''
      position: absolute
      top: 0
      right: 0
      width 1px
      height 100%
      background-color alpha(white, .25)

  .current-lang a
    background $cBlue + 7%

.hamburger
  position: relative
  top 6px
