.post
  &__wrapper
    margin-top s(50)
    &:after
      @extend .clearfix
  & .bCard
    float: left
    width col(4, 12)
    margin-right gutter(12)
    margin-bottom gutter(12)
    &:nth-child(3n+3)
      margin-right: 0


.article-published
  display: block
  margin-top s(6, 15)
  font-size s(15)
