.page-link
  &__list
    margin-top s(20)
  &__link
    display: flex
    align-items center
  &__item
    margin-bottom s(14)
    transition .3s ease transform
    & svg
      margin-right s(5)
    & span
      font-family: 'fira', Helvetica, Arial, sans-serif;
      font-weight: 700;
      letter-spacing: 0.78px;
      color: #91268F;
      text-transform: uppercase;
      font-size: 0.736842105263158em;
      transition .3s ease color

.page-link__item:hover .page-link__link span
.page-link__item:focus .page-link__link span
  color $cLightGreen
  transition .3s ease color

.page-link__item:hover
.page-link__item:focus
  transform translateX(5px)
  transition .3s ease transform
