.albums
  &__container
    display: block
    &:after
      @extend .clearfix
  &__figure
    position: relative
    overflow hidden
    &:after
      content ''
      @extend .cover
      background rgba(71, 81, 119, .8)
      z-index 4
    & img
      display: block
      transform scale(1) rotate(0)
      transition .3s $easeOutExpo transform
  &__figcaption
    position: absolute
    top: 50%
    transform translateY(-50%)
    left: 0
    right: 0
    text-align: center
    z-index 10
    color $cWhite
    font-family $firaStack
    font-weight: 700
    letter-spacing .8px
    padding s(10) s(15)
    line-height: 1.2em
  &__link
    display: block
    float: left
    margin-right 1.5%
    margin-bottom s(24)
    width 23.525%
    @media screen and (max-width: 768px)
      width 49.05%
      @media screen and (max-width: 480px)
        width: 100%
      & img
        width: 100%

    &:nth-child(4n + 4)
      margin-right: 0
    &:nth-child(2n+2)
      @media screen and (max-width: 768px)
        margin-right: 0

.albums__figure:hover
.albums__figure:focus
  & img
    transform scale(1.1) rotate(2deg)
    transition .3s $easeOutExpo transform


/************************************\
		POST
\************************************/

.lightGallery
  &:after
    @extend .clearfix

  &__link
    display: block
    //float: left
    margin-right 2.1035555%
    margin-bottom 2.1035555%
    width 23.4221111%
    &:nth-child(4n+4)
      margin-right: 0
    @media screen and (max-width: 768px)
      width 46.8%
      &:nth-child(2n+2)
        margin-right: 0
    @media screen and (max-width: 450px)
      width: 100%
      margin-right 0
      margin-bottom s(20)
  &__wrapper
    position: relative
    &:after
      content ''
      @extend .cover
      background-image: linear-gradient(90deg, #53B8E9 0%, #2B69AF 100%);
      opacity 0
      transition .3s .1s $easeOutExpo opacity

  &__img
    display: block
    @media screen and (max-width: 768px)
      width: 100%

  &__caption
    display: none

  & svg
    position: absolute
    top: 40%
    transform translateY(-50%)
    left: 0
    right: 0
    text-align: center
    margin 0 auto
    opacity 0
    z-index 5
    transition .3s $easeOutExpo all
    transition-property top, opacity

  & .title19
    margin-top: s(10)

  & .media
    @extend .subtitle

.lightGallery__link:hover .lightGallery__wrapper
.lightGallery__link:focus .lightGallery__wrapper
  &:after
    opacity .9
    transition .3s $easeOutExpo opacity
  & svg
    top 50%
    opacity 1
    transition .3s .1s $easeOutExpo all
    transition-property top, opacity

.album .lightGallery
.press .lightGallery
  display: flex
  flex-wrap wrap
