.products
  &__wrapper
    margin-top s(50)
    &:after
      @extend .clearfix
  &__item
    position: relative
    display: block
    width col(4,12)
    float: left
    margin-right gutter(12)
    @media screen and (max-width: 768px)
      float: none;
      width 100%
      margin-right: 0
      margin-bottom s(20)
    &:nth-child(3n+3)
      margin-right: 0
  &__img
    background-color #ECECEC
    padding s(30) s(38)
    border 1px solid #D1D1D1
    @media screen and (max-width: 768px)
      & img
        display: block
        margin 0 auto
  &__fake-link
    position: relative
    border-right 1px solid #D1D1D1
    border-left 1px solid #D1D1D1
    border-bottom 1px solid #D1D1D1
    padding s(16) s(10)
    text-align: center
    overflow hidden
    &:after
      content ''
      position: absolute
      @extend .cover
      background #81B345
      background-image: linear-gradient(90deg, #CFD545 0%, #81B345 99%);
      transform translateY(100%)
      transition .3s $easeOutExpo transform
  &__title
    @extend .title22
    transition .3s ease color
  &__link
    position: absolute
    @extend .cover
    z-index 10

.products__item:hover .products__fake-link:after
  transform translateY(0)
  transition .3s $easeOutExpo transform
.products__item:hover .products__title
  position: relative
  z-index 10
  color $cWhite
  transition .3s ease color



/************************************\
		SINGLE PRODUITS
\************************************/

.product
  &__subtitle
    display: block
    color $cBlack
    line-height: 1.2em
    margin-top s(6)
  &__txtAv
    @extend .subtitle
  &__wrapper
    display: block
    @media screen and (max-width: 768px)
      display: flex
      flex-direction column
    &:after
      @extend .clearfix
  &__mid
    float: left
    @media screen and (max-width: 768px)
      float: none
  &__mid--left
    width col(7, 12)
    margin-right gutter(12) + gutter(12)
    @media screen and (max-width: 768px)
      width: 100%
      margin-right: 0
  &__mid--right
    width col(4, 12) + gutter(12)
    margin-top s(30)
    @media screen and (max-width: 768px)
      width: 100%
      & img
        display: block
        margin 0 auto

.product__table2
  margin-top s(50)
  &__row1
    padding s(15) s(10)
    background-color rgba(0, 114, 173, .2)
    display: flex
    justify-content: space-around
    @media screen and (max-width: 560px)
      display: none
  &__row2
    display: flex
    border 1px solid lightgrey
    @media screen and (max-width: 560px)
      border none
      flex-direction column
  &__subrow svg
    position: relative
    top 3px
  &__content
    width 33.33%
    padding s(20) s(20)
    border-right 1px solid lightgrey
    @media screen and (max-width: 560px)
      width: 100%
      border-right: 0
      &:before
        display: block
        content: attr(data-title);
        font-weight: 900
        color $cLightGreen
    &--last
      border-right none
    & ul li
      font-size s(16)
      margin-top s(8)
      line-height: 1.4em
      display: flex
      &:before
        content '• '
        font-size s(13, 19)
        color $cLightGreen
        position: relative
        top 0px
        margin-right 4px

.product__alert
  background-color rgba(0, 114, 173, .2)
  padding s(18) s(20)
  text-align: center
  margin-top s(20)
  & span
    color #0072AD
    font-weight: 700
    line-height: 1.2em
  & svg
    margin-right s(6)

.product__conso
  h2
    margin-top 50px
    margin-bottom 20px
  &__wrapper
    &:after
      @extend .clearfix
  &__wrapper img
    width col(3,12)
    margin-right gutter(12)
    float: left
    @media screen and (max-width: 560px)
      display: none
  &__content
    width col(9,12)
    float: left
    @media screen and (max-width: 560px)
      width: 100%
      float: none
    & p
      margin-top s(10)
      line-height: 1.4em
      margin-bottom s(15)
    & span
      display: block
      font-weight: 700

.product
  &__pdf
    margin-top s(15)
    display: inline-flex
    align-items center
    & svg
      display: block
      margin-right s(10)
      width s(20)
      height s(20)
    &:hover
    &:focus
      cursor pointer
      .product__pdf svg,
      .product__pdfLink
        transform translateX(3px)
        transition .25s ease all
  &__pdfLink
    display: inline-block
    font-family $firaStack
    font-weight: 500
    text-transform: uppercase
    letter-spacing .5px
    font-size s(13)
    color #D80027
    transition .25s ease all
