.sHeader
  position: relative
  //top -5px
  height s(255)
  background-size cover
  background-position center center
  background-repeat no-repeat
  overflow hidden
  @media screen and (max-width: 1024px)
    height s(120)
  &:after
    content ''
    @extend .cover
    top 98%
    height 300%
    transform: skewY(-3deg);
    transform-origin: 0% 0;
    background-color: $cWhite;
    z-index: 1;
