.wpsl-store-location
  strong
    font-family $firaStack
    font-size s(16)
    font-weight: 700
    letter-spacing 0px
    color $cPurple
    line-height: 1.2em
    text-transform: uppercase
    display: block
    margin-bottom s(6,16)
  span
    font-size s(16)
    line-height: 1.4em


.wpsl-direction-wrap
  font-size s(16)
  color $cDarkGreen
  font-weight: 700

.wpsl-directions
  display: block
  margin-top s(5, 16)
  font-size s(13, 16)


.wpsl-info-window
  p
    strong
      font-family $firaStack
      font-size s(16)
      font-weight: 700
      letter-spacing 0px
      color $cPurple
      line-height: 1.2em
      text-transform: uppercase
      display: block
      margin-bottom s(6,16)
    span
      font-size s(16)
      line-height: 1.4em

  span
    font-size s(16)
    line-height: 1.4em
    strong
      font-weight: 700

#wpsl-gmap .wpsl-info-actions
  display: block
  margin-top s(5, 16)
  font-size s(13, 16)
  color $cDarkGreen

#wpsl-search-wrap .wpsl-input label
#wpsl-search-wrap div label
  font-family $firaStack
  font-size s(16)
  font-weight: 700
  letter-spacing 0px
  color $cPurple
  line-height: 1.2em !important


#wpsl-search-wrap .wpsl-input, #wpsl-search-wrap .wpsl-select-wrap
#wpsl-radius
#wpsl-results
  display: flex !important
  align-items center
  margin-right 30px

.wpsl-input label, #wpsl-radius label, #wpsl-category label
  width auto !important

#wpsl-wrap
  margin-top 50px !important
