html
  overflow-x: hidden;
  //overflow: hidden;
  //height: 100%;
  //background-image url("../img/grid.png")
  //background-repeat repeat-y
  //background-position center center
  // background-size 1240px
  //background #F5F5F5
  //opacity 0.9

body
  background #FFF
  width:100%
  height:100%
  overflow hidden
  display: flex;
  min-height: 100vh;
  flex-direction: column;

main
  flex 1 0 auto

html *
  font-size 17px
  font-family $latoStack
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  -moz-osx-font-smoothing: grayscale
  color $cBlack

a
  text-decoration none
  color inherit
  font-size inherit
  &:focus
  	outline: none

em
strong
b
u
  color inherit
  font-size inherit

abbr
  border none
  text-decoration none


form input
  appearance none
  border 0
  outline none

img
  max-width 100%
  height auto

