/*********************************
* Styles for links and CTA
* 
* Example :
* $ctaBase
*   font-size: 21px
*   line-height: 1.1
*   letter-spacing: 1.25px
*********************************/
.link14
  font-family $firaStack
  font-weight: 700
  letter-spacing .78px
  color $cDarkGreen
  text-transform: uppercase
  font-size s(14)


.cta
  display: inline-block
  margin-top s(30)
  padding s(20) s(60)
  border 2px solid $cDarkGreen
  transition .3s ease background-color
  & span
    font-family $firaStack
    color $cDarkGreen
    font-weight: 700
    font-size s(16)
    text-transform: uppercase
    letter-spacing 1px
    transition .3s ease color

.cta:hover
.cta:focus
  background-color $cDarkGreen
  transition .3s ease background-color
  & span
    color $cWhite
    transition .3s ease color

.breadcrumb
  display: flex
  align-items center
  margin-top s(10)
  a
    font-family $firaStack
    display: inline-block
    font-size s(13)
    font-weight: 500
    text-transform: uppercase
    letter-spacing .5px
    color $cBlueDark
    transform translateX(0)
    transition .25s ease all
  svg
    transform rotate(180deg)
    transform-origin 50% 50%
    margin-right 2px

  svg path
    transition .25s ease all

.breadcrumb__link:hover
.breadcrumb__link:focus
  a
    color $cBlue
    transform translateX(4px)
    transition .25s ease all

  svg path
    fill $cBlue
    transition .25s ease all
