/*********************************
* Styles for texts (paragraph,…)
* 
* Example :
* $paragraph21
*   font-size: 21px;
*********************************/
.text19
  font-family $latoStack
  font-size s(19)
  color $cBlack
  line-height: 1.5em




.quote
  background-size cover
  background-repeat no-repeat
  background-position center center
  //background-attachment fixed
  padding s(65) s(25)
  @media screen and (max-width: 768px)
    padding s(25) s(20)
  &__wrapper
    @extend .containerGlobal
  &__text
    text-align: center
    color $cWhite
    font-family $firaStack
    font-size s(24)
    font-style: italic
    font-weight: 700
    letter-spacing 1px
    line-height: 1.6em
    padding s(45, 24) s(50)
    @media screen and (max-width: 768px)
      padding s(25, 24) s(20)

.quote--home
  background-image url("../img/hquote.jpg");
