/*********************************
* Styles for titles
* 
* Example :
* $title21
*   font-size: 21px
*   line-height: 1.1
*   letter-spacing: 1.25px
*********************************/
.title24
  font-family $firaStack
  font-size s(24)
  font-weight: 500
  letter-spacing .55px
  color $cPurple
  line-height: 1.2em

.title24Bold
  font-family $firaStack
  font-size s(24)
  font-weight: 700
  letter-spacing 1px
  color $cPurple
  line-height: 1.2em
  text-transform: uppercase
  color $cBlue

.title22
  font-family $firaStack
  font-size s(22)
  font-weight: 500
  letter-spacing 0px
  color $cPurple
  line-height: 1.2em


.title19
  font-family $firaStack
  font-size s(19)
  font-weight: 500
  letter-spacing 0px
  color $cPurple
  line-height: 1.2em
  display: block
