/****************************************
* Cover an object with position absolute
****************************************/
$cover, .cover
  position absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

/*******************
* Hidden text
********************/
$hidden, .hidden
  position: absolute
  text-indent: 100%
  height: 0
  white-space: nowrap
  overflow: hidden

/********************
* Clearfix for float
*********************/
$clearfix, .clearfix
  content: ""
  display: block
  clear: both

.containerGlobal
  max-width 1160px
  margin 0 auto
  padding 0 10px

.setIconBase
  setIconBase()

.containerGlobalFirst
  margin-top s(20)
