.wp-pagenavi
  clear both
  padding-top s(30)
  text-align: center
  .pages
    display: none
  .page
  .current
    padding s(15, 15) s(20, 15)
    background-color #F1F1F1
    color $cBlue
    font-weight: 700
    font-family $firaStack
    font-size s(15)
    border-right 1px solid rgba(3,113,173,.11)
    cursor pointer
    &:hover
    &:focus
      background-color $cBlue
      color $cWhite
      transition .3s $easeOutExpo all
      transition-property background-color, color

  .page:nth-last-child(2)
    border none

  .current
    background-color $cBlue
    color $cWhite

  .first
  .last
    padding s(15, 15) s(20, 15)
    background-color #F1F1F1
    color $cBlue
    font-weight: 700
    font-family $firaStack
    font-size s(15)
    &:hover
    &:focus
      background-color $cBlue
      color $cWhite
      transition .3s $easeOutExpo all
      transition-property background-color, color


  .first
    border-right 1px solid rgba(3,113,173,.11)

  .nextpostslink
  .previouspostslink
    display: none

  .extend
    padding s(15, 15) s(20, 15)
    background-color #F1F1F1
    color $cBlue
    font-weight: 700
    font-family $firaStack
    font-size s(15)
    border-right 1px solid rgba(3,113,173,.11)
