/****************************************
* Style for wysiwygs
* p, figure, figcaption, img, blockquote,
* a, em, strong, ul, li, ol
****************************************/
.about__container
.milk__container
.containerParagraph
.single-post
.product__wysiwyg
.page-link__wysiwyg
.blueTxt
  overflow-x auto
  p
    max-width s(755, 19)
    font-size s(19)
    font-family $latoStack
    font-weight: 400
    line-height: 1.4em
    margin-bottom s(20)
    margin-top s(20)
    color $cBlack
    & strong
    & b
      font-weight: 700
      color #000
    & em
    & i
      font-style italic
    & a
      color $cDarkGreen
      font-weight: 700
      &:hover
      &:focus
        text-decoration underline

  table
    margin-top s(40)
    width s(680)
    thead
      background $cBlue
      background-image: linear-gradient(-90deg, #53B8E9 0%, #2B69AF 100%);
      & td
        color $cWhite
        font-weight: 700
        text-transform: uppercase
        padding s(10) s(25)
    tbody
      td
        padding s(15) s(25)
        line-height: 1.2em
      tr
        border-bottom 1px solid #52B5E7
        &:last-child
          border-bottom: none

  ul
    margin-bottom s(20)
    margin-top s(20)
    li
      margin-top s(5)
      line-height: 1.4em
      &:before
        content '• '
        font-size s(13, 19)
        color $cLightGreen
    & ul
      margin-left 10px
      & li:before
        content '– '
        font-size s(13, 19)
        color $cBlack

  ol
    margin-bottom s(20)
    margin-top s(20)
    li
      margin-top s(5)
      line-height: 1.4em
      list-style-type decimal
      margin-left s(20)

  strong
  b
    font-weight: 700

.single-post p
  max-width s(850, 19)
  line-height: 1.55em

.product__wysiwyg
  p
    margin-bottom s(10)
    margin-top s(10)
  ul
    margin-bottom s(10)
    margin-top s(10)

.blueTxt.blueTxt--white
  *
    color $cWhite

.single-post
  overflow-x initial
